.task-card {
  width: 100%;
  transition: all 0.2s ease;
}

.task-card:hover {
  box-shadow: var(--shadow8);
}

.task-card-title {
  font-size: 16px;
  font-weight: 600;
  color: var(--colorNeutralForeground1);
}

.task-card-desc {
  font-size: 13px;
  font-weight: 600;
  color: var(--colorBrandForeground1);
  text-transform: capitalize;
}

.task-card-actions {
  padding: 12px 0 0 0;
  display: flex;
  gap: 8px;
}

.task-button {
  display: flex;
  align-items: center;
  justify-content: center;
}